*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

.nav_border{
    background-color:black;
}

.nav_content a{
    color: #FFFFFF;
}

.home{
    height:889px;
    background: #181C25;
    box-shadow: 0px 4px 19.6px 0px rgba(0, 0, 0, 0.25);
}

.home img{
    width: 500px;
    height: 500px;
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow:  9px 9px 8px #bebebe,
                -9px -9px 8px #ffffff;
}

.introduction{
    height: 889px;
}
